<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>The Juggler's Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
</head>
<body>
    <script type="text/javascript">
     document.body.style.backgroundColor = "#ffe4c4";  // nude
  </script>
</body>
  <div>
      <h1>Welcome to The Juggler's site!</h1>
    {{{body}}}
</div>
<div>
  <h2>Add an Event to our Calendar</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text" /> <br />
       description: <input name="description" type="text" /> <br />
       <br />
        <input type="submit" name="submit" value="submit" />
    </form>
  </div>
</body>
</html>